.form__input {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    border: none;
    border-bottom: 1px solid rgba(0,0,0,0.2);
    box-sizing: border-box;
    width: 358px;
    height: 27px;
    margin: 0 auto 0;
    padding: 0 0 10px;
}

@media screen and (max-width: 767px) {
    .form__input {
        width: 238px;
    }
}